<div class="container">

  <div *ngIf="isAuthenticated">
  <div class="form-area">
    <h3>Persönliche Daten</h3>

    <div class="row">
      <div class="col-md-2">
        <label>First Name</label>
      </div>
      <div class="col-md-9">
        {{ firstName }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Last Name</label>
      </div>
      <div class="col-md-9">
        {{ familyName }}
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <label>Email</label>
      </div>
      <div class="col-md-9">
        {{ email }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gx-4 align-items-center">
      <div class="col-4 p-3">
        <button routerLink="/ausgaben" class="btn btn-danger form-control">Ausgaben</button>
      </div>
      <div class="col-4 p-3">
        <button routerLink="/einnahmen" class="btn btn-success form-control">Einnahmen</button>
      </div>
      <div class="col-4 p-3">
        <button routerLink="/kostenrechnung" class="btn btn-warning form-control">Kostenrechnung</button>
      </div>
    </div>
  </div>
  </div>
  <div *ngIf="!isAuthenticated">
    <div class="container">
      <div class="row ">
        <div class="col text-center">
          <p>Please login to access our platform</p>
        </div>
      </div>
    </div>
  </div>

</div>
