<div class="float-center">
  <div class="input-group">
    <button (click)="doSearch(key.value)" class="btn btn-outline-secondary">
      <i class="fa fa-search"></i>
    </button>

    <input
      #key
      type="text"
      (keyup.enter)="doSearch(key.value)"
      class="form-control"
      placeholder="Search by Beschreibung..."
    />

    <button
      type="button"
      (click)="onCancel()"
      class="btn btn-outline-secondary"
    >
      X
    </button>
  </div>
</div>
<!-- mnb: {{ table }} -->
